{% extends 'base.html.twig' %}

{% block title %}Person index{% endblock %}

{% block body %}
    <h1><a href="{{ path('assign') }}">People</a></h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Is_postgrad</th>
                <th>Can_drive</th>
                <th>Teams</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <td>{{ person.id }}</td>
                <td>{{ person.name }}</td>
                <td>{{ person.gender }}</td>
                <td>{{ person.isPostgrad ? 'Yes' : 'No' }}</td>
                <td>{{ person.canDrive ? 'Yes' : 'No' }}</td>
                <td>
                    {% for team in person.getTeams %}
                        {{ team }}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('person_show', {'id': person.id}) }}">show</a>
                    <a href="{{ path('person_edit', {'id': person.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('person_new') }}">Create new</a>
{% endblock %}
